/* common */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.padd-ing-row {
    padding: 50px 0;
}

/* Typography */

h2 {
    font-weight: 600;
    font-size: 40px;
}

h5 {
    color: #727272;
    font-weight: 600;
}

.pre-title {
    color: #0474ce;
}

/* btn style */

.color-text {
    color: #727272;
}

.btn-standard {
    border-radius: 20px;
    border: 0;
}

.bg-black {
    background-color: #363636;
    color: #fff;
}
.bg-black:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.bg-red {
    background-color: #cd3d0f;
    color: #fff;
}
.bg-cyan {
    background-color: #2d64e6;
    color: #fff;
}
.bg-gray {
    background-color: #f5f5f5;
}

/* typography */

.bg-dark-gray {
    background-color: #363636;
    color: #fff;
}
.bg-dark-gray:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.bg-red {
    background-color: #cd3d0f;
    color: #fff;
}
.bg-cyan {
    background-color: #2d64e6;
    color: #fff;
}
.bg-gray {
    background-color: #f5f5f5;
}

/* Header */

/* header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
} */

.header-top {
    background-color: #000;
    width: 100%;
}

.header-top img {
    width: 75px;
}

.navbar-brand, .navbar {
    padding: 0 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.dropdown-toggle::after {
	content: url('../img/chevron-down-solid.svg');
	border: none;
	display: inline-block;
    width: 10px;
    vertical-align: middle;
}

.lens {
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

/* Section Hero */

.hero-top {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    max-width: 100%;
    height: 600px;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 25px;
}

.img-banner img {
    width: 60%;
}

h2, p, .img-banner img {
    margin-bottom: 20px;
}

.hero-bottom {
    padding: 30px 0;
}

.list-hero {
    border-radius: 15px;
    padding: 2px;
}

.list-hero img {
    border-radius: 15px;
}

.list-hero:hover {
    box-shadow: 0px 0px 0px 2px #0072ce;
}

/* play 5 */

.playstation-5 img {
    width: 100%;
    margin-top: 20px;
}

.img-item {
    width: 50%;
}

.fa-trademark {
    font-size: 8px;
    vertical-align: super;
}

.ps5-item {
    opacity:0.4;
    border-bottom: 3px solid transparent;
}

.ps5-item:hover {
    border-bottom: 3px solid #0072ce;
    opacity: 1;
    color: #000;
}

/* Nuove uscite */

.nuove-uscite {
    background-color: #1f1f1f;
    color: #fff;
}

.top-novità {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 600px;
    color: #fff;
    padding: 40px 20px;
}

.list-novità {
    margin-top: 30px;
}

.list-novità h6 {
    margin: 20px 0 30px;
    font-size: 20px;
}

/* PlayStation 4 */

.fa-registered {
    font-size: 15px;
    vertical-align: super;
}

.ps4-item {
    width: 100%;
}