/* .debug {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
}
.debug .container {
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	height: 100vh;
}
.debug .col:not(:last-child) {
	border-right: 1px solid red;
	height: 100vh;
} */


/* common */

body {
    font-family: Arial, sans-serif;
}

.padd-ing-row {
    padding: 50px 0;
}

/* Typography */

h2 {
    font-size: 40px;
}

h5 {
    color: #727272;
}

.pre-title {
    color: #0474ce;
}

/* btn style */

.color-text {
    color: #727272;
}

.btn-standard {
    border-radius: 20px;
}

.bg-red {
    background-color: #cd3d0f;
    color: #fff;
}
.bg-cyan {
    background-color: #2d64e6;
    color: #fff;
}
.bg-gray {
    background-color: #f5f5f5;
    color: #2d64e6;
}

/* typography */

.bg-dark-gray {
    background-color: #363636;
    color: #fff;
    border: 2px solid #363636;
}
.bg-dark-gray:hover, .bg-cyan:hover  {
    color: #fff;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.bg-red {
    border: 2px solid #cd3d0f;
    background-color: #cd3d0f;
    color: #fff;
}

.bg-red:hover {
    color: #fff;
    box-shadow: inset 0px 0px 0px 2px #000;
}

.bg-cyan {
    background-color: #2d64e6;
    border: 2px solid #2d64e6;
    color: #fff;
}
.bg-gray {
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    color: #2d64e6;
}

.playstation-plus .bg-gray:hover {
    box-shadow: inset 0px 0px 0px 2px #bebcbb;
    color: #2d64e6;
}

.playstation-now .bg-gray:hover{
    box-shadow: inset 0px 0px 0px 2px #161c3b;
    color: #2d64e6;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-top {
    background-color: #000;
    width: 100%;
}

.header-bottom {
    background-color: #fff;
}

.header-top img {
    width: 75px;
}

.navbar-brand, .navbar {
    padding: 0 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.dropdown-toggle::after {
	content: url('../img/chevron-down-solid.svg');
	border: none;
	display: inline-block;
    width: 10px;
    vertical-align: middle;
}

.lens {
    height: 25px;
    margin-left: 10px;
}

/* Section Hero */

.hero-top {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    max-width: 100%;
    height: 600px;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 25px;
}

.img-banner img {
    width: 60%;
}

h2, p, .img-banner img {
    margin-bottom: 20px;
}

.hero-bottom {
    padding: 30px 0;
}

.list-hero {
    border-radius: 15px;
    padding: 2px;
    transition: 1s;
}

.list-hero img {
    border-radius: 15px;
}

.list-hero:hover {
    box-shadow: 0px 0px 0px 2px #0072ce;
    transform: translatey(-20px);
    transition: 1s;
}

/* play 5 */

.playstation-5 img {
    width: 100%;
    margin-top: 20px;
}

.playstation-5 .img-item {
    width: 50%;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .playstation-5 .img-item {
        width: 100%;
    }
  }

.fa-trademark {
    font-size: 8px;
    vertical-align: super;
}

.ps5-item {
    opacity:0.7;
    border-bottom: 3px solid transparent;

}

.ps5-item:hover {
    border-bottom: 3px solid #0072ce;
    opacity: 1;
    color: #000;
}

/* Nuove uscite */

.nuove-uscite {
    background-color: #1f1f1f;
    color: #fff;
}

.top-novità {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 600px;
    color: #fff;
    padding: 40px 20px;
}

.list-novità {
    margin-top: 30px;
}

.list-novità h6 {
    margin: 20px 0 30px;
    font-size: 20px;
}

/* PlayStation 4 */

.fa-registered {
    font-size: 15px;
    vertical-align: super;
}

.ps4-item {
    width: 100%;
}

/* playstation-plus */

.playstation-plus {
    background-color: #bebcbb;
}

.little-hero-img {
    width: 70%;
    margin: 20px 0;
}

.playplus-right-img {
    width: 100%;
}

.playstation-plus button, .playstation-now button {
    margin-bottom: 20px;
}

/* new discounts */

.new-discounts img {
    width: 100%;
    margin: 20px 0;
}

/* PlayStation Now */

.playstation-now {
    background-color: #161c3b;
    color: #fff;
}

/* Social space */

.special-container {
    max-width: 1000px;
    margin: 0 auto;
}

.social-space img {
    width: 100%;
    margin-bottom: 20px;
}

.social-space h3 {
    margin: 20px 0 50px;
}

.social-box {
    position: relative;
}

/* footer */

footer {
    background-color: #00439c;
    color: #fff;
    font-size: 14px;

}

.logo-ps-foot {
    margin-bottom: 20px;
}

.language-img {
    width: 20px;
    /* vertical-align: middle; */
}

.country {
    vertical-align: middle;
    margin-bottom: 30px;
}

footer ul li, footer ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

footer p a {
    color: #fff;
}

footer ul li a:hover, footer p a:hover {
    color: #fff
}

.logo-sie-sony {
    width: 130px;
    margin: 30px 0 10px;
}